.WindowForm{
  height: 500px;
  background-color: #D3D3D3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: auto;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.container-fluid{
  background: linear-gradient(45deg,#000428 , #004e92);
}

::-webkit-scrollbar{
  display: none;
}